* {
    margin: 0;
    padding: 0;
    transition: all ease-in-out .3s;
}

body {
    background-color: black;
}

img {
    width: 100%;
    height: 100vh;
}

#overlay {
    font-family: monospace;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.055);
    display: inline-block;
}

h1 {
    color: white;
    text-shadow: 0px 0px 3px black;
}

#settingsContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: scale(0.3);
    text-align: center;
    visibility: hidden;
}

#settingsContainerOpen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: scale(1);
    text-align: center;
    visibility: visible;
}

#settings {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    margin-top: 25vh;
    display: inline-block;
}